<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deleted</title>
  </head>
  <body>
    <p>Post <%=@post.name%> was deleted.
    <p>Click <a href="/posts">here</a> to return to Posts.
  </body>
</html>
