<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @posts.each do |post| %>
      <li><%= post.name %></li>
      <li><%= post.content %></li>
      <% end %>
    </ul>

  </body>
</html>
