<form action="/posts" method="post">
  <label for="user_name">Name:</label> <input id="user_name" type="text" name="name">
  <label for="user_content">Content:</label> <input id="user_content" type="text" name="content">
  <input type="submit" value="submit">
</form>
