
<form method='POST' action='/posts'>
  Name: <input type="text" name="name" id="user_name"><br>
  Content: <input type="text" name="content" id="user_name"><br>
  <input type="submit" value="submit">

</form>







<!-- We need to create an erb file in the views directory, new.erb, with a form that POSTs to a controller action, /posts.  Then, the action uses erb to render the index view page. -->
